
/* Main content styles */
main {
    padding: 2rem;
  }
  
  .hero {
    font-size: 1rem;
    background-color: #f4f4f4;
    text-align: center;
    margin-bottom: 1rem;
    padding: 4rem 2rem;
  }

  
  .hero p {
    font-size: 1.2rem;
    margin: 2%;
  }
  
  .hero button {
    background-color: #333;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    margin: 2%;
  }

  .hero button:hover {
    background-color: #555; 
    color: #ddd;           
  }
  
  .about,
  .projects {
    margin-top: 4rem;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-text {
    flex: 1;
  }
  
  .about-image img{
    margin-left: 2rem;
    display: flex;
    border-radius: 20%;
    max-width: 100%;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  